.filesave .bg-bk-content{
    background-color : #303130;
    
    background-image: -webkit-linear-gradient(top,rgba(0, 0, 0, 0.29) 0%, rgba(0, 0, 0, 0.11) 8px, rgba(0, 0, 0, 0.01) 13px, transparent 15px);
    background-image: -moz-linear-gradient(top,rgba(0, 0, 0, 0.29) 0%, rgba(0, 0, 0, 0.11) 8px, rgba(0, 0, 0, 0.01) 13px, transparent 15px);
    background-image: linear-gradient(top,rgba(0, 0, 0, 0.29) 0%, rgba(0, 0, 0, 0.11) 8px, rgba(0, 0, 0, 0.01) 13px, transparent 15px);
    
    border-top : 1px solid rgba(255,255,255,0.06);
}

.tb_textbox .directory {
    padding-left: 7px;
    font-size: 11px;
    color: #bababa;
    text-shadow: rgba(255, 255, 255, 1) 0px 1px 0px;
}

.trDgLike .item-fix:nth-child(4n-1) {
    background-color: #f1f0f1;
}
.trDgLike .item-fix:nth-child(4n+1) {
    background-color: #fefdfe;
}

.trDgLike .item-fix.root {
    background-color: #fefdfe;
}

.dgLikeContaier {
    background-color: transparent;
    border: 1px solid #222;
    box-shadow: 1px 1px rgba(255,255,255,0.06), inset 1px 1px rgba(255,255,255,0.06);
    color: #333333;
    cursor: default;
    font-family: Tahoma, Arial;
    font-size: 8pt;
    overflow: hidden;
    position: relative;
    height: 210px;
}

.hidefiles .file_item {
    display: none;
}